main .hero-container > div {
  max-width: unset;
}

main .hero-container {
  padding: 0;    
  max-height: 808px;
  height: 808px;
}

.hero {
  position: relative;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  height: 808px;
}

@media (max-width: 960px) {
  .hero {
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  main .hero-container {
    padding: 0;
    height: auto;   
  }
}

