.contact-us main .section.contact-us-map-container {
	margin-top: 0;
}

.contact-us main .section.breadcrumb-container {
	margin-bottom: 0;
}

.contact-us main .section.contact-us-map-container h3 {
	margin-top: 0;
	padding: 20px 12px 12px;
	font-weight: var(--font-weight-regular);
	margin-right: 24px;
}

main .section .block.contact-us-map details summary h3 {
	font-weight: var(--font-weight-bold);
}

.contact-us main .section.contact-us-map-container h3::before {
	content: "\f08d";
	margin-right: 12px;
	font-family: FontAwesome, sans-serif;
}

main .section .block.contact-us-map details summary h3::before {
	content: "";
	margin-right: 0;
	padding-left: 0;
}
